
.align-items-flex-start{
    align-items: flex-start;
}
.contact-info{
    padding: 2rem;
}

@media (min-width: 1152px) {
    .contact-info-section {
        margin-top: 3rem;
    }
    #contact-form {
        margin-top: 2rem;
    }
    #container {
        width: 100%;
        height: 500px;
        margin-top: 8rem;
    }
}
