.with-video-bg{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    overflow: hidden;
}

.heor-video{
    opacity: 0.8;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.team-bg-section{
    background-image: url("http://pqpazom17.bkt.clouddn.com/team-bg-trans.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.use-noto-500 {
    @include noto-sans-500;
}

.use-noto-900 {
    @include noto-sans-900;
}

.is-size-6-5 {
    font-size: .9rem;
}

.resize-smaller-21 {
    height: 21px;
    width: auto;
}

.resize-smaller-36 {
    height: 36px;
    width: auto;
}

.resize-smaller-42 {
    height: 42px;
    width: auto;
}

.resize-smaller-50 {
    height: 50px;
    width: auto;
}

.resize-smaller-52 {
    height: 52px;
    width: auto;
}