.side-bar-text{
    padding: 1rem;
    line-height: 2rem;
    max-width: max-content;
}
.thead-width-desktop{
    width: 30%;
}

table td,table th{
    vertical-align: middle !important;
}

.last-table-m-b{
    margin-bottom: 6rem;
}