.footer {
    padding: 0;
}

.footer-ul {
    padding: 50px 80px;
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25% 25% 25% 25%;
    text-align: center;
}
.footer-ul-item>li {
    line-height: 40px;

    p {
        color: #707070;
    }
}

.footer-ui-item-title {
    color: #000000 !important;
    font-weight: bold;
}

.footer-bottom {
    background-color: #3490dc;
    color: #DDDDDD;
    padding: 10px 0;
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
