// .nav-position{
//     height: 4.5rem;
// }
// .nav-list {
//     display: flex;
//     justify-content: flex-end;
// }

// .nav-list>div{
//     margin-left:4.75rem;
// }
// nav.navbar .container {
// 	height: 50px;
// }

.has-home-hero-bg {
	background: url('//ppz2v4njy.bkt.clouddn.com/image/jpg/factory-line.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}