@mixin noto-sans-500 {
	font-family: 'Noto Sans SC', sans-serif;
	font-weight: 500;
}

@mixin noto-sans-900 {
	font-family: 'Noto Sans SC', sans-serif;
	font-weight: 900;
}

@mixin pad-top-25 {
	padding-top: 25px;
}